$celesteClaro:#F8F8FD;
$celeste:#F8F8FD;
$azul:#6FBCEB;
$blanco:white;
$negro:black;

/* Colores */
.c-celesteClaro{
    color: $celesteClaro;
}
.c-celeste{
    color: $celeste;
}
.c-azul{
    color: $azul;
}
.c-blanco{
    color: $blanco;
}
.c-negro{
    color: $negro;
}
.bg-celesteClaro{
    background-color: $celesteClaro;
}
.bg-celeste{
    background-color: $celeste;
}
.bg-azul{
    background-color: $azul;
}