
main{
    max-width: 1600px;
    max-height: 100%;
}

/*FONDO*/

.contenedor__contacto{
    background-image: url(/image/backgroundAcordon3.jpg);
}

/*Fondo de Formulario*/
.contenedor__form{
    background-color: white;
}