*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-width: 1600px;
    max-height: 100%;
}

/*Fondo INDEX*/
.contenedor__fondoAnimado{
    background-image: url(/image/fondoIndex.jpg);
}

/* Encabezado ------------------------*/

/* Navegador */
nav a img{
    width: 150px;
}
/* Buscador */
.box__buscador{
    padding: 5px 1px 5px 25px;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    color: #444;
    border: 3px solid #000000;
    background: #fff url("search-icon.png") no-repeat 5px center;
    width: 100px;
    transition: all 1s;
}
.box__buscador:hover{
    width: 200px;
    background-color: #fff;
    border-color: #000000;
    box-shadow: 0 0 2px;
}
/* Cuerpo ---------------------------- */

/* Sección Portada */

/* Carrusel */
#imgCarrusel img{
    @include size(100%, 58vh);
    margin-top: 20px;
}

/* Sección Lo más visto */

/* CARDS en lo más visto */

.contenedor__card{
    // height: 200px;
    @extend %boderShadow;
    position: relative;
    background: white
}
.card__img{
    @include size(100%, 200px);
}
.card__textos{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}
.card__titulo{
    font-size: 25px;
}
.card__calificacion{
    display: flex;
    justify-content: center;
}

/* Sección Aside lo más visto */

.contenedor__gif--Mickey{
    background-image: url(/image/logoDisney2.gif);
    background-repeat:no-repeat;
    background-position: right;
}
.contenedor__gif--Minnie{
    background-image: url(/image/logoMinnie.gif);
    background-repeat:no-repeat;
    background-position: left;
}
/* TITULO Sección Trailer  */

.trailer__textos{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.trailer__titulo{
    font-size: 35px;
    font-weight: bold;
}
/*TRAILERS*/
.trailers{
    width: 100%;
    padding: 20px 0;
}
.trailer__articulo{
    
}
.trailer__video{
    @include size(600px, 350px);
    background-color: #fff;
    padding: 15px;
    @extend %boderShadow;
    
}

/* Sección Noticias */

.novedades__separador{
    margin-bottom: 10px;
}
.novedades__titulo{
    font-weight: bold;
}

/* Efecto Hover CARD NOTICIAS */

.novedades__article{
    @include size(280px, 320px);
    display: flex;
    flex-direction: column;
    @extend %boderShadow;
}
.novedades__article:hover{
    background: #b7e0fc;
    transform: scale(1,1.05);
    transition: background-color 1s;
    
}
.novedades__img{
    background-image: var(--image);
    @include size(100%, 175px);
    background-position: center top;
    background-size: cover;
    border-radius: 1em 1em 0 0;
}

.novedades__cardText{
    height: 70px;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
}

/* Footer */

.contenedor__footer{
    width: 100%;
    background-image: url(/image/background-footer.svg);
}

.iconos__footer{
    font-size: 28px;
    color: $azul;
}

